.action__container {
  margin: 0 auto;
  background-color: $color-warning;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: $screen-desktop;

  @media screen and (max-width: ($screen-tablet - 1px)) {
    margin-top: 18px;
    padding-top: 20px;
    border-top: 1px solid $color-light-primary
  }
}



// .action {
//   background-color: $color-warning;
//   padding: $section-padding-mobile;
//   box-sizing: border-box;

//   @media screen and (min-width: $screen-tablet) {
//     padding: $section-padding-tablet;
//   }
//   @media screen and (min-width: $screen-desktop) {
//     padding: $section-padding-desktop;
//   }
// }
