.search__text-block {
  justify-self: end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 688px;

  @media screen and (min-width: $screen-desktop-tablet) {
    grid-column-start: 2;
    grid-row-start: 3;
    width: 380px;
  }
}
