.header__link {
  text-decoration: none;
  display: inline-flex;
  @include text($text-menu-font-size-desktop, $text-menu-font-line-height-desktop, $text-menu-text-color);

  &:hover {
    font-weight: 500;
  }
}
