.action {
  background-color: $color-warning;
  box-sizing: border-box;
  padding: $section-padding-mobile;
  min-width: $screen-mobile;
  width: 100%;

  @media screen and (min-width: $screen-tablet) {
    padding: $section-padding-tablet;
  }

  @media screen and (min-width: $screen-desktop) {
    padding: $section-padding-desktop;
    padding-bottom: 36px;
  }
}
