.action {
  background-color: $color-warning;
  padding: $section-padding-mobile;
  box-sizing: border-box;

  @media screen and (min-width: $screen-tablet) {
    padding: $section-padding-tablet;
  }
  @media screen and (min-width: $screen-desktop) {
    padding: $section-padding-desktop;
  }
}
