.section {
  max-width: $screen-desktop;
  min-width: $screen-mobile;
  padding: $section-padding-mobile;
  box-sizing: border-box;
  column-gap: $section-padding-mobile;
  display: grid;
  grid-template-columns: 1, minmax(min-content, max-content);
  grid-template-rows: repeat(3, min-content) 1fr;
  align-content: start;
  justify-content: center;

  @media screen and (min-width: $screen-tablet) {
    padding: $section-padding-tablet;
    column-gap: $section-padding-tablet;
  }
  @media screen and (min-width: $screen-desktop-tablet) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, min-content) 1fr;
    justify-content: space-between;
  }
  @media screen and (min-width: $screen-desktop) {
    padding: $section-padding-desktop;
    column-gap: $section-padding-desktop;
  }
}
