.composition__chapter {
  @include reset();
  @include text($text-chapter-font-size-mobile, $text-chapter-font-line-height-mobile);
  text-transform: $text-chapter-text-transform;
  margin-bottom: 30px;

  @media screen and (min-width: $screen-tablet) {
    @include text($text-chapter-font-size-tablet, $text-chapter-font-line-height-tablet);
    margin-bottom: 40px;
  }
  @media screen and (min-width: $screen-desktop) {
    margin-bottom: 50px;
  }
}
